html{

    background-color: black;

}

.logo{
	text-align: center;
}

.about{
    
    text-align: center;
    font-size: 25px;
    letter-spacing: 10px;
    font-family: sans-serif;
    color: #29c929;

    font-variant-caps: small-caps;

    
    margin-top: 50px;
    
}
